<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ytooo.repository.dao.QuartzInfoMapper">
  <resultMap id="BaseResultMap" type="com.ytooo.repository.QuartzInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="batch_type" jdbcType="VARCHAR" property="batchType" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="execute_time" jdbcType="VARCHAR" property="executeTime" />
    <result column="object_name" jdbcType="VARCHAR" property="objectName" />
    <result column="object_method" jdbcType="VARCHAR" property="objectMethod" />
    <result column="batch_exe_type" jdbcType="VARCHAR" property="batchExeType" />
    <result column="batch_desc" jdbcType="VARCHAR" property="batchDesc" />
    <result column="thread_pool_size" jdbcType="VARCHAR" property="threadPoolSize" />
    <result column="queue_capacity" jdbcType="VARCHAR" property="queueCapacity" />
    <result column="section_size" jdbcType="VARCHAR" property="sectionSize" />
    <result column="index_start" jdbcType="VARCHAR" property="indexStart" />
    <result column="index_end" jdbcType="VARCHAR" property="indexEnd" />
    <result column="created_date" jdbcType="DATE" property="createdDate" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, batch_type, name, execute_time, object_name, object_method, batch_exe_type, batch_desc, 
    thread_pool_size, queue_capacity, section_size, index_start, index_end, created_date, 
    is_delete
  </sql>
  <select id="selectByExample" parameterType="com.ytooo.repository.QuartzInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from ta_quartz_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ta_quartz_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ta_quartz_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ytooo.repository.QuartzInfoExample">
    delete from ta_quartz_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ytooo.repository.QuartzInfo">
    insert into ta_quartz_info (id, batch_type, name, 
      execute_time, object_name, object_method, 
      batch_exe_type, batch_desc, thread_pool_size, 
      queue_capacity, section_size, index_start, 
      index_end, created_date, is_delete
      )
    values (#{id,jdbcType=INTEGER}, #{batchType,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{executeTime,jdbcType=VARCHAR}, #{objectName,jdbcType=VARCHAR}, #{objectMethod,jdbcType=VARCHAR}, 
      #{batchExeType,jdbcType=VARCHAR}, #{batchDesc,jdbcType=VARCHAR}, #{threadPoolSize,jdbcType=VARCHAR}, 
      #{queueCapacity,jdbcType=VARCHAR}, #{sectionSize,jdbcType=VARCHAR}, #{indexStart,jdbcType=VARCHAR}, 
      #{indexEnd,jdbcType=VARCHAR}, #{createdDate,jdbcType=DATE}, #{isDelete,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ytooo.repository.QuartzInfo">
    insert into ta_quartz_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="batchType != null">
        batch_type,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="executeTime != null">
        execute_time,
      </if>
      <if test="objectName != null">
        object_name,
      </if>
      <if test="objectMethod != null">
        object_method,
      </if>
      <if test="batchExeType != null">
        batch_exe_type,
      </if>
      <if test="batchDesc != null">
        batch_desc,
      </if>
      <if test="threadPoolSize != null">
        thread_pool_size,
      </if>
      <if test="queueCapacity != null">
        queue_capacity,
      </if>
      <if test="sectionSize != null">
        section_size,
      </if>
      <if test="indexStart != null">
        index_start,
      </if>
      <if test="indexEnd != null">
        index_end,
      </if>
      <if test="createdDate != null">
        created_date,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="batchType != null">
        #{batchType,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="executeTime != null">
        #{executeTime,jdbcType=VARCHAR},
      </if>
      <if test="objectName != null">
        #{objectName,jdbcType=VARCHAR},
      </if>
      <if test="objectMethod != null">
        #{objectMethod,jdbcType=VARCHAR},
      </if>
      <if test="batchExeType != null">
        #{batchExeType,jdbcType=VARCHAR},
      </if>
      <if test="batchDesc != null">
        #{batchDesc,jdbcType=VARCHAR},
      </if>
      <if test="threadPoolSize != null">
        #{threadPoolSize,jdbcType=VARCHAR},
      </if>
      <if test="queueCapacity != null">
        #{queueCapacity,jdbcType=VARCHAR},
      </if>
      <if test="sectionSize != null">
        #{sectionSize,jdbcType=VARCHAR},
      </if>
      <if test="indexStart != null">
        #{indexStart,jdbcType=VARCHAR},
      </if>
      <if test="indexEnd != null">
        #{indexEnd,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null">
        #{createdDate,jdbcType=DATE},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ytooo.repository.QuartzInfoExample" resultType="java.lang.Long">
    select count(*) from ta_quartz_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ta_quartz_info
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.batchType != null">
        batch_type = #{record.batchType,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.executeTime != null">
        execute_time = #{record.executeTime,jdbcType=VARCHAR},
      </if>
      <if test="record.objectName != null">
        object_name = #{record.objectName,jdbcType=VARCHAR},
      </if>
      <if test="record.objectMethod != null">
        object_method = #{record.objectMethod,jdbcType=VARCHAR},
      </if>
      <if test="record.batchExeType != null">
        batch_exe_type = #{record.batchExeType,jdbcType=VARCHAR},
      </if>
      <if test="record.batchDesc != null">
        batch_desc = #{record.batchDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.threadPoolSize != null">
        thread_pool_size = #{record.threadPoolSize,jdbcType=VARCHAR},
      </if>
      <if test="record.queueCapacity != null">
        queue_capacity = #{record.queueCapacity,jdbcType=VARCHAR},
      </if>
      <if test="record.sectionSize != null">
        section_size = #{record.sectionSize,jdbcType=VARCHAR},
      </if>
      <if test="record.indexStart != null">
        index_start = #{record.indexStart,jdbcType=VARCHAR},
      </if>
      <if test="record.indexEnd != null">
        index_end = #{record.indexEnd,jdbcType=VARCHAR},
      </if>
      <if test="record.createdDate != null">
        created_date = #{record.createdDate,jdbcType=DATE},
      </if>
      <if test="record.isDelete != null">
        is_delete = #{record.isDelete,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ta_quartz_info
    set id = #{record.id,jdbcType=INTEGER},
      batch_type = #{record.batchType,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      execute_time = #{record.executeTime,jdbcType=VARCHAR},
      object_name = #{record.objectName,jdbcType=VARCHAR},
      object_method = #{record.objectMethod,jdbcType=VARCHAR},
      batch_exe_type = #{record.batchExeType,jdbcType=VARCHAR},
      batch_desc = #{record.batchDesc,jdbcType=VARCHAR},
      thread_pool_size = #{record.threadPoolSize,jdbcType=VARCHAR},
      queue_capacity = #{record.queueCapacity,jdbcType=VARCHAR},
      section_size = #{record.sectionSize,jdbcType=VARCHAR},
      index_start = #{record.indexStart,jdbcType=VARCHAR},
      index_end = #{record.indexEnd,jdbcType=VARCHAR},
      created_date = #{record.createdDate,jdbcType=DATE},
      is_delete = #{record.isDelete,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ytooo.repository.QuartzInfo">
    update ta_quartz_info
    <set>
      <if test="batchType != null">
        batch_type = #{batchType,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="executeTime != null">
        execute_time = #{executeTime,jdbcType=VARCHAR},
      </if>
      <if test="objectName != null">
        object_name = #{objectName,jdbcType=VARCHAR},
      </if>
      <if test="objectMethod != null">
        object_method = #{objectMethod,jdbcType=VARCHAR},
      </if>
      <if test="batchExeType != null">
        batch_exe_type = #{batchExeType,jdbcType=VARCHAR},
      </if>
      <if test="batchDesc != null">
        batch_desc = #{batchDesc,jdbcType=VARCHAR},
      </if>
      <if test="threadPoolSize != null">
        thread_pool_size = #{threadPoolSize,jdbcType=VARCHAR},
      </if>
      <if test="queueCapacity != null">
        queue_capacity = #{queueCapacity,jdbcType=VARCHAR},
      </if>
      <if test="sectionSize != null">
        section_size = #{sectionSize,jdbcType=VARCHAR},
      </if>
      <if test="indexStart != null">
        index_start = #{indexStart,jdbcType=VARCHAR},
      </if>
      <if test="indexEnd != null">
        index_end = #{indexEnd,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null">
        created_date = #{createdDate,jdbcType=DATE},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ytooo.repository.QuartzInfo">
    update ta_quartz_info
    set batch_type = #{batchType,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      execute_time = #{executeTime,jdbcType=VARCHAR},
      object_name = #{objectName,jdbcType=VARCHAR},
      object_method = #{objectMethod,jdbcType=VARCHAR},
      batch_exe_type = #{batchExeType,jdbcType=VARCHAR},
      batch_desc = #{batchDesc,jdbcType=VARCHAR},
      thread_pool_size = #{threadPoolSize,jdbcType=VARCHAR},
      queue_capacity = #{queueCapacity,jdbcType=VARCHAR},
      section_size = #{sectionSize,jdbcType=VARCHAR},
      index_start = #{indexStart,jdbcType=VARCHAR},
      index_end = #{indexEnd,jdbcType=VARCHAR},
      created_date = #{createdDate,jdbcType=DATE},
      is_delete = #{isDelete,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>